* {
    background: #272e33;
    foreground: #d3c6aa;
    normal-background: @background;
    alternate-normal-background: @background;
    border-color: #00000000;
    selected-normal-foreground: #272e33;
    selected-alternate-foreground: #1e2326;
    selected-normal-background: #a7c080;
    selected-alternate-background: #a7c080;
}

window {
    border-color: #a7c080;
}
